font-family: 'Roboto', sans-serif;

html, body {
  background: rgba(52, 55, 62, 0.965);
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: #e44c65;
}

.main-wrapper h3 {
  text-align: center;
}

.main-wrapper section {
  display: block;
}



/* Header */

#main-wrapper {
  padding-top: 3.5em;
}

#header {
  background: rgba(52, 55, 62, 0.965);
  box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
  cursor: default;
  height: 3em;
  left: 0;
  line-height: 3.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#header h1 {
  text-decoration: none;
  height: inherit;
  left: 1.25em;
  line-height: inherit;
  margin: 0;
  position: absolute;
  top: 0;
}

#header nav {
  position: absolute;
  right: 1em;
  top: 0;
}

#header nav ul {
  margin: 0;
}

#header nav ul li {
  display: inline-block;
  margin-left: 1em;
}

#header nav ul li a, #header nav ul li span {
  border: 0;
  color: white;
  text-decoration: none;
  display: inline-block;
  height: inherit;
  line-height: inherit;
  outline: 0;
}

#header nav ul li a.button, #header nav ul li span.button {
  height: 2em;
  line-height: 2em;
  padding: 0 1.25em;
}

#header nav ul li a:not(.button):before, #header nav ul li span:not(.button):before {
  margin-right: 0.5em;
}

#header nav ul li.hover {
  color: #e44c65;
}

#header nav ul li > ul {
  display: none;
}



/* Banner */

#banner {
  background-attachment: fixed;
  background-color: #272833;
  background-image: url("../../images/TESCAflor.png");
  background-position: center center;
  background-size: 120em;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
  min-height: 100vh;
  position: relative;
  text-align: center;
  z-index: 21;
}

#banner:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 1%;
}

#banner:after {
  background-image: -moz-linear-gradient(top, rgba(52, 55, 62, 0.95), rgba(52, 55, 62, 0.95)), url("images/overlay.png");;
  background-image: -webkit-linear-gradient(top, rgba(52, 55, 62, 0.95), rgba(52, 55, 62, 0.95)), url("images/overlay.png");;
  background-image: -ms-linear-gradient(top, rgba(52, 55, 62, 0.95), rgba(52, 55, 62, 0.95)), url("images/overlay.png");;
  background-image: linear-gradient(top, rgba(52, 55, 62, 0.95), rgba(52, 55, 62, 0.95)), url("images/overlay.png");;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#banner .content {
  display: inline-block;
  margin-right: 1%;
  max-width: 95%;
  padding: 6em;
  position: relative;
  text-align: middle;
  vertical-align: middle;
  z-index: 1;
}

#banner .content header {
  display: inline-block;
  vertical-align: middle;
}

#banner .content header h2 {
  font-size: 2.5em;
  margin: 0;
}

#banner .content header p {
  margin: 0.5em 0 0 0;
  top: 0;
}

#banner .content .image {
  border-radius: 100%;
  display: block;
  height: 45em;
  width: 45em;
  margin-left: 3em;
  vertical-align: middle;
}

#banner .content .image img {
  /*border-radius: 100%;*/
  /*display: block;*/
  width: 100%;
}

body.is-touch #banner {
  background-attachment: scroll;
}


/*About us*/
.about_us {
  display: block;
}

.about_us span {
  font-weight: bold;
}

.about_us img{
  border-radius: 20px;
  display: block;
  height: 250px;
}


/*Mision*/

.mision {
  display: block;
}


/*Elements*/
.elements {
  display: inline-block;
}

.elements img {
  width: 25%;
  background: lightgray;
}